
/*font icons in navbar*/
.fa-home, 
.fa-address-card,
.fa-laptop-code,
.fa-envelope
{
    color: black;
}
/*naviagation bar*/
.navbar {
    background-color:lightgrey;
    border-radius: 25px;
    position: fixed;
    top: 0;
}
body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

p.card-text {
    text-align: center;
}

.col {
    background-color: lightgrey;
    width: 200px;
    border: 2px solid red;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.a {
    text-align: left;
}

.carousel-inner {
    width: auto;
    height: auto;
    margin: 50px 0px;
    background: black;

}

#menu {
    border-bottom: 3px solid yellow;
    align-content: right;
}

.about_skills {
    list-style-type: circle;
}

.main-nav {
    
    background: white;
    padding: 0px;
    position: fixed;
    text-align: center;
}
